<div class="mx-auto w-full md:w-2/3">
  <div>
    <h1 class="font-bold text-4xl text-blue-800">What Went Well Today?</h1>

    <%= render "form", post: @post %>

    <div id="posts" class="py-2 space-y-4">
      <% @posts.each do |post| %>
        <div id="<%= dom_id post %>" class="bg-blue-50 text-blue-800 rounded-lg hover:shadow transition duration-300 ease-in-out p-4">
          <div class="text-2xl tracking-tight"><%= link_to post.content, post_path(post) %></div>

          <div class="flex justify-between mt-2">
            <div class="font-light text-sm">
              <%= time_tag post.created_at, "data-local": "time-ago" %>
              &middot;
              <%= link_to "view", post_path(post), class: "cursor-pointer underline" %>
            </div>
            <div class="font-light text-sm">
              <%= link_to post_path(post), class: "cursor-pointer underline" do %>
                <%= pluralize(post.comments.count, "reply") %>
              <% end %>
              &middot;
              <%= link_to "reply", post_path(post), class: "cursor-pointer underline" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-center my-10 text-gray-400">The end. Nothing more to see here.</div>
</div>
