<!DOCTYPE html>
<html>
  <head>
    <title>What Went Well Today?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <% if Rails.env.production? %>
      <script src="https://cdn.usefathom.com/script.js" data-site="<%= ENV["FATHOM_SITE_ID"] %>" defer></script>
    <% end %>
  </head>

  <body>
    <div class="flex flex-row-reverse">
      <%= link_to "View on GitHub", "https://github.com/onerinas/whatwentwelltoday", class: "p-4 text-gray-500 font-medium hover:underline", target: :_blank %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
